<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head", required: false)
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- TODO: put all styles into css file -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                <img src="~/Content/Images/logo.png" align="left" width="128" height="60" />
                @Html.ActionLink("BikeMates", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li align="left" style="position: absolute; top:20px; left:800px; ">
                        <input type="search" name="q" size="30" placeholder="Search  site">
                        <input type="submit" value="Search">
                    </li>
                    <li style=" position: absolute; top:920px; left:860px; "> @Html.ActionLink("About", "About", "Home") </li>
                    <li style="position: absolute; top:920px; left:920px; "> @Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            <h4 style=" position: absolute; top:0px; left:1360px; "> @Html.Partial("_LoginPartial")</h4>
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
</body>
</html>
