<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -BikeMates</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                <img class="logo" src="~/Content/Images/logo.png" align="left" height="50" />
                @Html.ActionLink("BikeMates", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <div class="input-group search-body">
                            <input type="search" class="form-control" name="q" size="30" placeholder="Search  site">
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-default" value="Search">
                            </span>
                        </div>
                    </li>



                </ul>

            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div style="text-align:center">
            <div class="pagination-container">
                <ul class="pagination">
                    <li> @Html.ActionLink("About", "About", "Home") </li>
                    <li> @Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
//TODO: Please remove Views, Scripts and fonts folders