@model BikeMates.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @data_bind="submit: resetPassword"}))
{
    @Html.AntiForgeryToken()
    <h4>Reset your password.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        <label for="Email" class="col-md-2 control-label">Email:</label>
        <div class="col-md-10">
            <input type="email" required class="form-control" id="Email" data-bind="textInput: email" placeholder="Required">
        </div>
    </div>
    <div class="form-group">
        <label for="Password" class="col-md-2 control-label">Password:</label>
        <div class="col-md-10">
            <input type="password" required class="form-control" id="Password" data-bind="textInput: password" placeholder="Required">
        </div>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword" class="col-md-2 control-label">Confirm Password:</label>
        <div class="col-md-10">
            <input type="password" required class="form-control" id="ConfirmPassword" data-bind="textInput: confirmPassword" placeholder="Required">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/knockout-3.3.0.js"></script>
<script src="~/Scripts/App_Scripts/ResetPasswordScript.js"></script>