<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">


                </button>
                <!-- TODO: remove empty lines-->

                <img src="http://www.autoexpert.in.ua/files/auto_life/velosiped/velosiped_gucci_bianchi_16_01_12_001.jpg" align="left" width="128" height="60" /><!-- TODO: save image into Content/Images/logo710x473.jpg-->
                @Html.ActionLink("BikeMates", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <form>
                        <p style="position: absolute; top:20px; left:800px; width:500px; height:100px">
                            <input type="search" name="q" size="30" placeholder="Пошук на сайті">
                            <input type="submit" value="Знайти">
                        </p>
                    </form>   
                   
</div>

                    
                    <p style="position: absolute; top:920px; left:860px; width:500px; height:25px"> @Html.ActionLink("About", "About", "Home") </p>
                    <p style="position: absolute; top:920px; left:920px; width:500px; height:25px">@Html.ActionLink("Contact", "Contact", "Home")</p>
            </ul >
            <!-- TODO: all elements inside <ul> tag should be inside <li> element-->
            <!-- TODO: fix html formatting-->
            <!-- TODO: only english-->
            <!-- TODO: move elements style(with >1 attributes) inside site.css (use classes) -->

            @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>
 


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
