@model PagedList.IPagedList<BikeMates.Domain.Entities.Route>
@using PagedList.Mvc
@{
    ViewBag.Title = "BikeMates";
}
<link href="@Url.Content("/Content/PagedList.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/knockout-3.3.0.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="~/Scripts/App_Scripts/ViewRouteList.js"></script>*@
<script src="~/Scripts/App_Scripts/RouteView.js"></script>


<div class="jumbotron filter_menu">
    <div class="navbar-collapse collapse">
        @*<select id="sort_order" onchange="CallActionList($(this).val()); return false;">
            <option>select</option>
            <option value="All Routes">All Routes</option>
            <option value="My Routes">My Routes</option>
            <option value="Subscription">Subscription</option>
        </select>*@

        <ul class="nav navbar-nav">
            <li>
                <input type="submit" value="By Date" id="ByDate" />
            </li>
            <li>
                <input type="submit" value="By Title" id="ByTitle" />
            </li>
            <li>
                <input type="submit" value="By Participants" id="ByParticipants" />
            </li>
        </ul>
    </div>
</div>

<table>
    <tr>
        <td><h4>Location </h4></td>
        <td><input type="text" size="26" class="filter-inpt" id="Location" name="Location" data-bind="value:Location" /> </td>
    </tr>
    <tr>
        <td><h4>Date</h4></td>
        <td>
            <input type="text" size="10" class="filter-inpt" id="Date1" name="Date" data-bind="value:Date1" />
            <input type="text" size="10" class="filter-inpt" id="Date2" name="Date" data-bind="value:Date2" />
        </td>
    </tr>
    <tr>
        <td><h4>Distance</h4></td>
        <td>
            <input type="text" size="10" class="filter-inpt" id="Distance1" name="Distance" data-bind="value: Distance1" />
            <input type="text" size="10" class="filter-inpt" id="Distance2" name="Distance" data-bind="value: Distance2" />
        </td>
    </tr>
</table>
<button type="button" class="btn btn-default filter-btn" id="Search">SEARCH</button>

<div class="row result-filter-row">

<table>
    <tbody data-bind="foreach: allRoutes">
        <tr>
            <td><p><b data-bind="text: title"></b></p></td>
            <td><p><b data-bind="text: start"></b></p></td>
            <td><p><b data-bind="text: distance"></b></p></td>
            <td><p><b data-bind="text: MeetingPlace"></b></p></td>
        </tr>
    </tbody>
</table>
    @foreach (var item in Model)
    {       
        <p class="result-silter-itm">
           @Html.ActionLink(item.Title, "RouteView", new { id = item.Id })           
           @Html.DisplayFor(modelItem => item.Title)      
            Distance: @Html.DisplayFor(modelItem => item.Distance)
            
            Date: @Html.DisplayFor(modelItem => item.Start);
            Meeting Place: @Html.DisplayFor(modelItem => item.MeetingPlace);
            Participants:  @Html.DisplayFor(modelItem => item.Subscribers.Count)
            <br />
            Description:
            @Html.DisplayFor(modelItem => item.Description);
        </p>
    }
</div>

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),

        new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<<",
            LinkToPreviousPageFormat = "Back",
            LinkToNextPageFormat = "Next",
            LinkToLastPageFormat = ">>"
        })
</div>
